body {
  font-size:1em;
  padding: 30px;
  max-width:
  font-family: monospace, sans-serif;
}

.section {
  margin-bottom:10px;
}

.section p {
  padding:0;
  margin:0;
}

.section p.content, 
.section ul, 
.section table {
  padding-left: 5%;
}

table {
  display:block;
}

table th,
table td {
  text-align:left;
  vertical-align:top;
  border-top:1px solid #ddd;
  padding:0.2em;
}

ul li {
  padding:0.6em 0;
  line-height:1.5;
}

ul li ul li {
  padding-bottom:0;
}

table thead:first-child tr:first-child th {
  border-top:0;
}

table th {
  font-weight:normal;
}

td p {
  padding:3px 0;
}
