body {
  font-size:1em;
  padding: 30px;
  max-width: 1000px;
  margin:0 auto;
  font-family: sans-serif;
}

.name {
  padding-bottom:20px;
}

table {
  display:block;
}

table tr {
  border-bottom: 1px solid grey;
  margin-bottom:1em;
  display:block;
}

table tr td.title {
  width:100px;
  padding-right:2em;
}

@media only screen and (max-width : 640px) {
  body {
    font-size:0.8em;
  }

  .name {
    text-align:center;
  }

  table tr td.title {
    display:inline-block;
    width:100%;
  }

  table .title h5 {
    text-transform: uppercase;
    text-align:center !important;
  }
}

@media only screen and (min-width : 640px) {
  table tr td.title {
    display:table-cell;
  }
}

table h1,
table h2,
table h3,
table h4,
table h5 {
  margin-top:0;
}

table h4 {
  margin-bottom:10px;
}

table .title h5 {
  text-align: right;
}

table th,
table td {
  text-align:left;
  vertical-align:top;
}

ul {
  margin-left:5%;
  padding:0;
}

ul li,
p {
  padding:0.6em 0;
  line-height:1.7;
}

ul li ul li {
  padding-bottom:0;
}

table th {
  font-weight:normal;
}
