body {
  font-size:1em;
  padding: 30px;
  max-width: 1000px;
  margin:0 auto;
  font-family: sans-serif;
}

.section {
  margin-bottom:10px;
}

.section p {
  padding:0;
  margin:0;
}

.section p.content, 
.section ul, 
.section table {
  padding-left: 5%;
}

table {
  display:block;
}

table tr {
  border-bottom: 1px solid grey;
  margin-bottom:1em;
  display:block;
}

table tr td.title {
  width:100px;
  padding-right:2em;
}

table h1,
table h2,
table h3,
table h4,
table h5 {
  margin-top:0;
}

table h4 {
  margin-bottom:10px;
}

table .title h5 {
  text-align: right;
}

table th,
table td {
  text-align:left;
  vertical-align:top;
}

ul li {
  padding:0.6em 0;
  line-height:1.5;
}

ul li ul li {
  padding-bottom:0;
}

table thead:first-child tr:first-child th {
  border-top:0;
}

table th {
  font-weight:normal;
}

td p {
  padding:3px 0;
  line-height:1.7;
}
