{% extends "Blog/Blog.twig" %}

{% block content %}
  <div class="row">
    <div class="span12">
      <h1>New Category</h1>
      <form action="/blog/categories" method="post">
        <label>Name</label>
        {% if errors.name is defined %}
          <div class="alert alert-error">{{ errors.name }}</div>
        {% endif %}
        <input type="text" name="name" value="{% if vars.name is defined %}{{ vars.name }}{% endif %}">
        <label>Slug</label>
        {% if errors.slug is defined %}
          <div class="alert alert-error">{{ errors.slug }}</div>
        {% endif %}
        <input type="text" name="slug" value="{% if vars.slug is defined %}{{ vars.slug }}{% endif %}">
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
{% endblock %}
