{% extends "Blog/Blog.twig" %}

{% block content %}
  {% for category in categories %}
    <div class="row">
      <div class="span8">
        <a href="/blog/category/{{ category.id }}">
          <h1> {{ category.name }} ({{ category.posts|length }})</h1>
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
