{% for category in categories %}
  <div class="row">
    <div class="span12">
      <a class="lead" href="/{{ category.slug }}">
        {{ category.name }} ({{ category.count }})
      </a>
    </div>
  </div>
{% endfor %}
