{% extends "User/User.twig" %}

{% block content %}
  <div class="row">
    <div class="span12">
      <h1>New User</h1>
      <form action="/users">
        <label>Name</label>
        <input type="text" name="name">
        <label>Email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit" class="btn">Create new user</button>
      </form>
    </div>
  </div>
{% endblock %}
